@model MBand.Models.Band
@using MBand.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details about Band</h2>

<div>
    @*<h4>Band</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @*@Html.DisplayNameFor(model => model.BandImg)*@
        </dt>

        <dd style="margin-left:20px">

            @if (Model.BandImg != null)
            {
                @*@Html.Raw("<img style='width:80px; height:60px;' src=\"data:image/jpeg;base64,"
                + Convert.ToBase64String(model.BandImg) + "\" />")*@

                @Html.Raw("<img class=round style='width:80px; height:80px;' src=\"data:image/jpeg;base64,"
                                            + Convert.ToBase64String(Model.BandImg) + "\" />")
                @*<img src="@Model.BandImg">*@
            }


            @*@Html.DisplayFor(model => model.BandImg)*@
        </dd>
        
        <dt >
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.YearFoundation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YearFoundation)
        </dd>
        

    </dl>

    <div><h3>Members</h3></div>
    <ul>
        @foreach (Member item in Model.Members)
        {
            @*<li>@item.FullName</li>*@
            <li>
                @Html.ActionLink(@item.FullName,"Details", "Members", new { id = item.MemberId }, new { @class = "text-reset" })
            </li>
        }
    </ul>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", null ,new { id = Model.BandId }, new { @class = "btn btn-info" })  
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
</p>
