@model MBand.Models.Member

@{
    ViewBag.Title = "Details";
}

<h2>Details about Member</h2>

<div>
    @*<h4>Member</h4>*@
    <hr />
    <dl class="dl-horizontal">

        <dd style="margin-left:20px">

            @if (Model.MemberImg != null)
            {
                @Html.Raw("<img class=round style='width:80px; height:80px;' src=\"data:image/jpeg;base64,"
                                            + Convert.ToBase64String(Model.MemberImg) + "\" />")
            }

<dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MemberType.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberType.Type)
        </dd>
        <dt>
           Band @Html.DisplayNameFor(model => model.Band.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Band.Name)
        </dd>
 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", null ,new { id = Model.MemberId }, new { @class = "btn btn-info" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-light" })
</p>
